<div class="{{ class | default: '' }}" style="{{ style | default: '' }}">
  <div class="h-16 flex justify-between border-t border-b">
    <div class="flex items-center">
      {{ amount }} {% if amount > 1 %}{{ 'common.products' | t }}{% else %}{{ 'common.product' | t }}{% endif %}
    </div>

    {% unless template == 'search' %}
      <div class="flex items-center">
        <div class="h-full hidden sm:flex items-center text-gray-600 tracking-wider uppercase mr-4">
          {{ 'common.sort' | t }}
        </div>

        <div class="h-full border-l pr-1">
          {% render 'layout-select-sort' %}
        </div>
      </div>
    {% endunless %}
  </div>
</div>