<div class="flex space-x-3 {{ class | default: '' }}" style="{{ style | default: '' }}">
  {% assign link_class = 'w-6 h-auto text-gray-600 hover:text-black transition duration-150' %}
  {% assign icon_class = 'w-full h-auto' %}

  {% if social_instagram_visible %}
    <a
      href="{{ social_instagram_link }}"
      target="_blank"
      class="{{ link_class }}"
      aria-label="Instagram"
    >
      {% render 'icon-social-instagram', class: icon_class %}
    </a>
  {% endif %}

  {% if social_twitter_visible %}
    <a
      href="{{ social_twitter_link }}"
      target="_blank"
      class="{{ link_class }}"
      aria-label="Twitter"
    >
      {% render 'icon-social-twitter', class: icon_class %}
    </a>
  {% endif %}

  {% if social_facebook_visible %}
    <a
      href="{{ social_facebook_link }}"
      target="_blank"
      class="{{ link_class }}"
      aria-label="Facebook"
    >
      {% render 'icon-social-facebook', class: icon_class %}
    </a>
  {% endif %}

  {% if social_youtube_visible %}
    <a
      href="{{ social_youtube_link }}"
      target="_blank"
      class="{{ link_class }}"
      aria-label="Youtube"
    >
      {% render 'icon-social-youtube', class: icon_class %}
    </a>
  {% endif %}
</div>