<div class="{{ class | default: '' }}" style="{{ style | default: '' }}">
  <div class="md:grid grid-cols-8 gap-4">
    <div class="col-span-5 flex flex-wrap gap-2 md:gap-6 mb-4 md:mb-0">
      <a href="{{ product.url | within: collections.all }}" class="block w-full md:w-32 h-64 md:h-32">
        <img
          sizes="
            (min-width: 768px) 275px,
            400px
          "
          srcset="
            {{ product | img_url: '275x' }} 275w,
            {{ product | img_url: '400x' }} 400w
          "
          src="{{ product | img_url: '400x' }}"
          src-placeholder="{{ product | img_url: '50x' }}"
          alt="{{ product.title | escape }}"
          loading="lazy"
          class="w-full h-full object-cover object-center"
        >
      </a>

      <div class="flex flex-col py-2">
        {% if product.title %}
          <a href="{{ product.url | within: collection }}" class="text-lg font-bold mb-2">
            {{ product.title }}
          </a>
        {% endif %}

        {% if product.options_with_values %}
          <div class="text-sm">
            {% for option in product.options_with_values %}
              <div>{{ option.name }}: {{ option.value }}</div>
            {% endfor %}
          </div>
        {% endif %}

        {% if deleteUrl %}
          <a href="{{ deleteUrl }}" class="text-sm underline mt-2 md:mt-auto">
            {{ 'action.remove' | t }}
          </a>
        {% endif %}
      </div>
    </div>

    <div class="flex justify-between md:justify-end items-center">
      <span class="md:hidden">{{ 'common.price' | t }}</span> {{ product.price | money }}
    </div>

    <div class="flex justify-between md:justify-end items-center">
      <span class="md:hidden">{{ 'common.quantity' | t }}</span> x{{ product.quantity }}
    </div>

    <div class="flex justify-between md:justify-end items-center">
      {% if product.original_line_price != product.line_price %}
        {{ product.original_line_price | money }}
      {% endif %}

      <span class="md:hidden">{{ 'common.total' | t }}</span> {{ product.line_price | money }}

      {% for discount in product.discounts %}
        {{ discount.title }}
      {% endfor %}
    </div>
  </div>
</div>