
<div class="{{ class | default: '' }}" style="{{ style | default: '' }}">
  <div class="grid grid-cols-8 gap-4">
    <a href="{{ product.url | within: collections.all }}">
      <v-lazy-image
        sizes="
          (min-width: 768px) 275px,
          400px
        "
        srcset="
          {{ product | img_url: '275x' }} 275w,
          {{ product | img_url: '400x' }} 400w
        "
        src="{{ product | img_url: '400x' }}"
        src-placeholder="{{ product | img_url: '50x' }}"
        alt="{{ product.title | escape }}"
        class="w-32 h-32 object-cover object-center"
      ></v-lazy-image>
    </a>

    <div class="col-span-4">
      {% if product.title %}
        <a href="{{ product.url | within: collection }}" class="text-lg font-bold mb-2">
          {{ product.title }}
        </a>
      {% endif %}

      <div class="text-sm">
        {% for option in product.options_with_values %}
          <div>{{ option.name }}: {{ option.value }}</div>
        {% endfor %}
      </div>

      <a href="{{ deleteUrl }}" class="text-sm underline mt-4">
        {{ 'action.remove' | t }}
      </a>
    </div>

    <div class="text-right">
      {{ product.price | money }}
    </div>

    <div class="text-right">
      {{ product.quantity }}
    </div>

    <div class="text-right">
      {% if product.original_line_price != product.line_price %}
        {{ product.original_line_price | money }}
      {% endif %}

      {{ product.line_price | money }}

      {% for discount in product.discounts %}
        {{ discount.title }}
      {% endfor %}
    </div>
  </div>
</div>