<h1 class="text-2xl md:text-3xl font-bold text-center mb-4">
  {{ 'customer.reset_password.title' | t }}
</h1>

<p class="text-sm text-center mb-16">
  {{ 'customer.entry.reset_password_notice' | t }}
</p>

{% form 'recover_customer_password' %}
  {% if form.errors %}
    {% capture error_text %}
      {{ form.errors | default_errors }}
    {% endcapture%}

    {% render 'layout-message',
      type: 'error'
      text: error_text
      class: 'mb-8'
    %}
  {% endif %}

  {% if form.posted_successfully? %}
    {% assign translation_response = 'customer.entry.reset_password_response' | t %}
    {% render 'layout-message',
      type: 'success'
      text: translation_response
      class: 'mb-8'
    %}
  {% endif %}

  <div class="mb-4 sm:mb-10">
    <label
      for="RecoverEmail"
      class="block"
    >
      {{ 'form.email' | t }}
    </label>

    <input
      type="email"
      id="RecoverEmail"
      name="email"
      class="w-full"
      required
    >
  </div>

  <div class="flex flex-wrap gap-4 sm:gap-6">
    <button
      type="submit"
      class="button button-primary"
    >
      {{ 'action.restore' | t }}
    </button>

    <div class="w-full sm:w-auto flex justify-center items-center">
      <button class="underline" @click.prevent="show('login')">
        {{ 'action.cancel' | t }}
      </button>
    </div>
  </div>
{% endform %}