<div class="{{ class | default: '' }}" style="{{ style | default: '' }}">
  {% if image %}
    <img
      sizes="
        (min-width: 1536px) 500px,
        (min-width: 1280px) 400px,
        (min-width: 1024px) 350px,
        (min-width: 768px) 350px,
        (min-width: 640px) 300px,
        500px
      "
      srcset="
        {{ image | img_url: '300x' }} 300w,
        {{ image | img_url: '350x' }} 350w,
        {{ image | img_url: '400x' }} 400w,
        {{ image | img_url: '500x' }} 500w
      "
      src="{{ image | img_url: '500x' }}"
      alt="{{ image.alt }}"
      loading="lazy"
      class="w-full h-full object-cover object-center"
    >
  {% else %}
    {{ 'image' | placeholder_svg_tag: 'w-full h-full border' }}
  {% endif %}
</div>