<div class="container max-w-screen-md">
  <h1 class="text-2xl md:text-3xl font-bold text-center mb-6 md:mb-16">
    {{ 'contact.title' | t }}
  </h1>

  {% form 'contact' %}
    <div>
      {% if form.posted_successfully? %}
        {{ 'contact.response' | t }}
      {% endif %}

      {% if form.errors %}
        {% capture error_text %}
          {{ form.errors | default_errors }}
        {% endcapture%}

        {% render 'layout-message',
          type: 'error'
          text: error_text
          class: 'mb-8'
        %}
      {% endif %}

      <div class="flex flex-wrap md:flex-nowrap md:gap-x-6">
        <div class="w-full md:w-1/2 mb-4 sm:mb-6">
          <label
            for="ContactFormName"
            class="block"
          >
            {{ 'form.name' | t }}*
          </label>

          <input
            type="text"
            name="contact[name]"
            id="ContactFormName"
            value="{% if form.name %}{{ form.name }}{% endif %}"
            class="w-full"
            required
          >
        </div>

        <div class="w-full md:w-1/2 mb-4 sm:mb-6">
          <label
            for="ContactFormEmail"
            class="block"
          >
            {{ 'form.email' | t }}*
          </label>

          <input
            type="email"
            name="contact[email]"
            id="ContactFormEmail"
            value="{% if form.email %}{{ form.email }}{% endif %}"
            class="w-full"
            required
          >
        </div>
      </div>

      <div class="mb-4 sm:mb-6">
        <label
          for="ContactFormPhone"
          class="block"
        >
          {{ 'form.phone' | t }}
        </label>

        <input
          type="tel"
          name="contact[phone]"
          id="ContactFormPhone"
          value="{% if form.phone %}{{ form.phone }}{% endif %}"
          class="w-full"
        >
      </div>

      <div class="mb-4 sm:mb-6">
        <label
          for="ContactFormMessage"
          class="block"
        >
          {{ 'form.message' | t }}*
        </label>

        <textarea
          rows="10"
          name="contact[body]"
          id="ContactFormMessage"
          class="w-full"
          required
        >
          {% if form.body %}
            {{ form.body }}
          {% endif %}
        </textarea>
      </div>

      <div class="flex flex-wrap justify-between items-center">
        <button class="button button-primary">
          {{ 'action.send' | t }}
        </button>

        <div class="text-sm mt-4 sm:mt-0">
          *{{ 'form.required' | t }}
        </div>
      </div>
    </div>
  {% endform %}
</div>