<div class="container">
  <h1 class="text-2xl md:text-3xl font-bold text-center mb-6 md:mb-16">
    {{ 'collections.title' | t }}
  </h1>

  {% if collections %}
    {% paginate collections by 16 %}
      <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-x-4 gap-y-8">
        {% for collection in collections %}
          <div>
            <a href="{{ collection.url }}">
              <img
                sizes="
                  (min-width: 768px) 450px,
                  400px
                "
                srcset="
                  {{ collection.image | img_url: '275x' }} 275w,
                  {{ collection.image | img_url: '450x' }} 450w
                "
                src="{{ collection.image | img_url: '400x' }}"
                alt="{{ collection.image.alt | escape }}"
                loading="lazy"
                class="w-full h-32 sm:h-48 lg:h-64 xl:h-80 object-cover object-center"
              >
            </a>

            <div class="mt-4">
              <a href="{{ collection.url }}" class="text-lg font-bold">
                {{ collection.title | escape }}
              </a>
            </div>
          </div>
        {% endfor %}
      </div>

      {% render 'layout-pagination', paginate: paginate %}
    {% endpaginate %}
  {% else %}
    <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-x-4 gap-y-8">
      {% for i in (1..4) %}
        <div>
          {% capture placeholder %}collection-{{ i }}{% endcapture %}
          {{ placeholder | placeholder_svg_tag: 'w-full h-full border' }}
        </div>
      {% endfor %}
    </div>
  {% endif %}
</div>