<div class="container max-w-screen-sm pt-16 md:pt-32">
  <h1 class="text-2xl lg:text-3xl font-bold text-center mb-8">
    {{ shop.name }}
  </h1>

  <div class="text-xl font-bold text-center mb-16">
    {{ 'password.coming_soon' | t }}
  </div>

  {% form 'storefront_password' %}
    {% if form.errors %}
      {% capture error_text %}
        {{ form.errors | default_errors }}
      {% endcapture%}

      {% render 'layout-message',
        type: 'error'
        text: error_text
        class: 'mb-8'
      %}
    {% endif %}

    <div class="flex">
      <input
        type="password"
        id="Password"
        name="password"
        placeholder="{{ 'form.password' | t }}"
        class="w-full rounded-r-none"
        required
      >

      <button
        type="submit"
        class="button button-primary flex-shrink-0 w-auto rounded-l-none"
      >
        {{ 'action.sign_in' | t }}
      </button>
    </div>
  {% endform %}

  <div class="text-sm text-center mt-8">
    {{ 'password.store_owner' | t }} <a href="/admin" class="underline">{{ 'action.log_in' | t }}</a>
  </div>
</div>