<div class="container max-w-screen-sm">
  <h1 class="text-2xl md:text-3xl font-bold text-center mb-6 md:mb-16">
    {{ 'customer.reset_password.title' | t }}
  </h1>

  {% form 'reset_customer_password' %}
    {% if form.errors %}
      {% capture error_text %}
        {{ form.errors | default_errors }}
      {% endcapture%}

      {% render 'layout-message',
        type: 'error'
        text: error_text
        class: 'mb-8'
      %}
    {% endif %}

    <div class="mb-4 sm:mb-6">
      <label
        for="ResetPassword"
        class="block"
      >
        {{ 'form.new_password' | t }}
      </label>

      <input
        type="password"
        id="ResetPassword"
        name="customer[password]"
        class="w-full"
        required
      >
    </div>

    <div class="mb-4 sm:mb-10">
      <label
        for="PasswordConfirmation"
        class="block"
      >
        {{ 'form.confirm_new_password' | t }}
      </label>

      <input
        type="password"
        id="PasswordConfirmation"
        name="customer[password_confirmation]"
        class="w-full"
        required
      >
    </div>

    <div>
      <button
        type="submit"
        class="button button-primary"
      >
        {{ 'action.reset_password' | t }}
      </button>
    </div>
  {% endform %}
</div>